<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">

	<listeners>
		<listener
			class-name="com.airtel.solution.listeners.TestListener" />
		<listener
			class-name="com.airtel.solution.listeners.AnnotationTransformer" />
	</listeners>

	<test name="Test">
		<classes>
			<class
				name="com.airtel.solution.testClass.MarvelDataTest">
				<methods>
					<include
						name="TC001_GetAllCharactersWithDiscription" />
					<include
						name="TC002_GetAllStoriesWithNoDiscription" />
				</methods>
			</class>
		</classes>
	</test>
</suite>
